
backend/node_modules/
frontend/node_modules/


backend/.env
frontend/.env


frontend/dist/
backend/dist/


.idea/
.vscode/


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db